---
import Layout from '../layouts/Layout.astro';
---

<Layout>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Espejos</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Nuestros espejos decorativos</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <a href="/producto-espejo-azul" style="text-decoration: none; color: inherit;">
                                <img class="card-img-top" src="/assets/img/3.jpeg" alt="..." />
                            </a>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <a href="/producto-espejo-azul" style="text-decoration: none; color: inherit;">
                                        <h5 class="fw-bolder">Espejo - Azul</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" 
                                       href="https://wa.me/5492215436779?text=Hola!%20te%20quería%20consultar%20sobre%20el%20Espejo%20Azul" 
                                       target="_blank">
                                       <i class="bi bi-whatsapp"></i> Consultar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <a href="/producto-espejo-frida-kahlo" style="text-decoration: none; color: inherit;">
                                <img class="card-img-top" src="/assets/img/frida-kahlo.jpeg" alt="..." />
                            </a>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <a href="/producto-espejo-frida-kahlo" style="text-decoration: none; color: inherit;">
                                        <h5 class="fw-bolder">Espejo - Frida Kahlo</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" 
                                       href="https://wa.me/5492215436779?text=Hola!%20te%20quería%20consultar%20sobre%20el%20Espejo%20Frida%20Kahlo" 
                                       target="_blank">
                                       <i class="bi bi-whatsapp"></i> Consultar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Footer-->
        </Layout>