---
import Layout from '../layouts/Layout.astro';
---

<Layout>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Joker</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Cada pieza nace desde el alma</p>
                </div>
            </div>
        </header>
        <!-- Product Details-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="/assets/img/joker1.jpeg" alt="Joker" />
                    </div>
                    <div class="col-md-6">
                        <h2 class="display-5 fw-bolder">Descripción</h2>
                        <p class="lead">Este mosaico representa al icónico Joker, con detalles expresivos y colores vibrantes que capturan su esencia caótica y fascinante. Una obra de arte para amantes del cine y el cómic, creada con precisión y pasión.</p>
                        <p>Dimensiones: 60x80 cm<br>Material: Vidrio y cerámica<br>Técnica: Mosaico figurativo</p>
                        <div class="d-flex">
                            <a class="btn btn-outline-dark flex-shrink-0" href="https://wa.me/5492215436779?text=Hola!%20te%20quería%20consultar%20sobre%20el%20cuadro%20del%20Joker" target="_blank">
                                <i class="bi bi-whatsapp"></i> Consultar
                            </a>
                        </div>
                    </div>
                </div>
                <!-- More Images -->
                <div class="row gx-4 gx-lg-5 mt-5">
                    <h3 class="text-center mb-4">Más Fotos</h3>
                    <div class="col-md-4">
                        <img class="img-fluid rounded" src="/assets/img/joker1.jpeg" alt="Joker vista 1" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rounded" src="/assets/img/joker2.jpeg" alt="Joker vista 2" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rounded" src="/assets/img/joker3.jpeg" alt="Joker vista 3" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        </Layout>