---
import Layout from '../layouts/Layout.astro';
---

<Layout>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Conoce nuestra historia</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="mb-4">Mí Historia</h2>
                        <p class="mb-4">Desde el año 2016, comencé este camino en el mundo del mosaiquismo junto a Florencia, con quien compartí los primeros años de trabajo, ferias, aprendizajes y muchísimas creaciones compartidas. Aquella etapa fue el inicio de una pasión que creció con cada obra, cada taller y cada cliente que confió.</p> 
                        <p class="mb-4">Hoy continúo ese camino con un proyecto más personal, en el que cada pieza es diseñada, pensada y realizada por mí, de forma completamente artesanal.</p>
                        <p class="mb-4">En MosaicoSole, cada obra es única: no hay dos iguales. Trabajo con materiales nobles y reciclados, integrando el color, la forma y el alma de cada persona que confía en mí para crear algo especial.</p>
                        <p class="mb-4">Realizo espejos, cuadros, objetos decorativos y composiciones a medida. Muchas veces me inspiro en una foto, un rincón de la casa, un recuerdo o una historia. Porque más que vender objetos, creo piezas con sentido.</p>
                        <p class="mb-4">Esta pagina es una invitación a conocer lo que hago, pero también lo que soy.
                        <p class="mb-4">Gracias por estar acá.</p>
                        <h3 class="mb-3">Mí Misión</h3>
                        <p>Crear obras de arte que inspiren, emocionen y transformen los espacios donde viven mis clientes, manteniendo la calidad y la dedicación como pilares fundamentales.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        </Layout>